.uberNavbar-mainContent {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
}
.main--content--logo {
  position: absolute;
  width: 600px;
  transform: translate(600px, -50px);
  z-index: -1;
  opacity: 0.6;
}
li{
    list-style: disc;
    padding: 10px;
    font-size: 2rem;
}
::marker {
    font-size: 1.4em;
    color: #61dafb;
  }